$heading-font: 'Montserrat', sans-serif;
$text-font: 'Open Sans', sans-serif;
$base-black: #1C2A39;
$base-gray: #5C6A79;
$base-light-purple: #EFEEF6;
$base-medium-purple: #9E98DC;
$base-dark-purple: #4C3DB2;